html { 
    height: -webkit-fill-available;    /* per a dispositius mòbils */
}
body {
	display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        min-height: 100svh;
        min-height: -webkit-fill-available;    
        margin: 0px;
        font-family: sans-serif;
        background-color: #E4FFFF;
}
#superior {
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: #E4FFFF;
    background-color: #2072DB;
}
.seccio {
    flex: 1;
    display: none;
}
#seccio 1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    vertical-align: middle;
    height:100%;
    background-color: #2072DB;
    color: #E4FFFF;
}
#menu {
    display: flex;
    height: 8vmax;
}
#menu i{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E4FFFF;
    background-color: #2072DB;
    font-size: 5vmax;
    cursor: pointer;
}
#seccio_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}
#credencials {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmax;
    margin: 5vmin;
}
#credencials div {    /* els 2 <div> dins de credencials */
    margin-bottom: 1vmin;
}
#credencials input {    /* els 2 quadres de text dins de credencials */
    max-width: 20vmax;    /* es limita l'espai que ocupen els quadres de text */
    font-size: 3vmax;
}
#botons_sessio {
    display: flex;
    align-items: center;
}
#botons_sessio button {    /* els 2 botons dins de botons_sessio */
    font-size: 3vmax;
    padding: 2vmin;
    margin: 1vmin;
}
#div_foto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icona_camera {
    font-size: 40vmin;
    color: #950E17;
}
#foto {
    max-width: 60vmin;    /* dimensions màximes per a la prveisualització de les fotos */
    max-height: 60vmin;
    cursor: pointer;
}
#div_control {
    height: 25vmax;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#div_control i {
    cursor: pointer;
    font-size: 20vmin;    
    color: green;
}
#obturador {
    position: absolute;
    width: 0;
    opacity: 0;
}
#canvas, #desa {
    display: none;
}
#div_gran {
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-height: 100vh;
    max-height: 100svh;
    max-height: -webkit-fill-available;
}
#foto_gran {
    max-width: 95vmin;
    max-height: 95vmax;
    cursor: pointer;
}
@media (orientation: landscape) {
    #seccio_2 {
        flex-direction: row;
    }
    #div_foto {
        flex-direction: column;
    }
    #div_control {
        width: 25vmax;
        height: auto;
        flex-direction: column;
    }
    #div_gran {
        max-height: 100vh;
        max-height: 100svh;
    }
    #foto_gran {
        transform: rotate(-90deg);    /* gir de 90 graus correponent al canvi d'orientació */
    }
}
#llista_titol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#llista_titol i {
    font-size: 4vmax;
    color:#950E17;
}
#llista_titol i:nth-child(1) {    /* primer <i> (miniatura de la foto) */
    flex: 2;
}
#llista_titol i:nth-child(2) {    /* segon <i> (data i hora) */
    flex: 3;
}
#llista_titol i:nth-child(3) {    /* tercer <i> (icona per esborrar la foto) */
    flex: 1;
}
#llista_fotos {
    height: 70vmax;
    overflow-y: scroll;
}
#llista_fotos::-webkit-scrollbar {
    display: none;    /* oculta la barra de desplaçament vertical */
}
@media (orientation: landscape) {
    #llista_fotos {
        height: 70vmin;
    }
}

